.c-topnavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.c-topnavbar__nav-link {
  display: flex;
  margin: 0;
}

.c-topnavbar__nav-link .nav-link__item {
  padding: 15px;
  font-size: 14px;
  color: #fff;
}