.page-index__header {
  padding-bottom: 20px;
  background-color: rgb(39, 174, 96);
}

@media (min-width: 768px) {
  .page-index__header {
    padding-bottom: 80px;
  }
}

.page-index__header .c-TitleCaption {
  margin-top: 20px;
}

.page-index__header .c-search {
  margin-top: 30px;
  margin-bottom: 20px;
}

.page-index__notice {
  padding-top: 30px;
  text-align: right;
}

.page-index__notice-link {
  color: #aaa;
  font-size: 14px;
}

.page-index__notice-link:hover {
  text-decoration: underline;
  color: #000;
}