.page-index__header {
  padding-bottom: 20px;
  background-color: rgb(39, 174, 96);
}

.page-index__header .c-TitleCaption {
  margin-top: 20px;
}

.page-index__header .c-search {
  margin-top: 30px;
  margin-bottom: 20px;
}