.c-MostPopularLibBar-item {
  margin: 10px;
  opacity: .6;
  filter: grayscale(90%)
}

.c-MostPopularLibBar-item:hover {
  opacity: 1;
  filter: none;
}

.c-MostPopularLibBarItem__img {
  height: 32px;
}