.c-LibListItem {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  border-bottom: 1px solid rgb(236, 240, 241);
}

.c-LibListItem:hover {
  background-color: rgb(245, 245, 245);
}

.c-LibListItem__title {
  color: rgb(85, 85, 85);
  font-size: 18px;
  font-weight: bold;
}

.c-LibListItem__desc {
  margin-bottom: 8px;
  color: rgb(119, 119, 119);
  font-size: 16px;
}

@media (max-width: 575.98px) {
  .c-LibListItem__desc {
    display: none;
  }
  .c-LibListItem__title {
    margin-bottom: 8px;
  }
}

.c-LibListItem__star {
  color: rgb(170,170,170);
  font-size: 12px;
}