body {
  font-family: 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

ul,
dl,
li,
ol,
dt,
dd {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

input {
  border: 0;
  user-select: auto;
  outline: none;
}
input::-webkit-input-placeholder {
  color: rgb(117, 117, 110);
}
