a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}

ul,
dl,
li,
ol,
dt,
dd {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

input {
  user-select: auto;
  border: 0;
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgb(117, 117, 110);
}

.iconfont {
  font-size: inherit;
}